
@import 'spacing.less';

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.prelatife,
.prelatif{
	position: relative;
}
.h100_per{
	height: 100%;
}
.container,
.prelatife.container{
	max-width: 1100px;
	margin: 0 auto;
}

.camera_wrap{
	float: none;
}

.nbxs_bottom_fcs_wa{
	background-color: #75af35;
	position: absolute;
	bottom: 0px;
	width: 100%; z-index: 12;
	.in_texts{
		font-size: 18px;
		font-weight: 400; color: #fff;
		vertical-align: middle;
		a{
			font-size: 15px;
			color: #fff;
			text-decoration: none;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #f5f5f5;
		}
		clear: both;
	}
	clear: both;
}


section.outer-home-block-1{
	width: 100%;
	min-height: 358px; height: auto;
	background:#1f2640 url('../images/new/back-home-1.jpg') top center no-repeat;
	clear: both;
	
	display: flex;
	align-items: center;
	justify-content: center;
	.container{

	}
	.inner_side{

	}
}

.content-text.cst_text{
	
	h1, h2, h3, h4, h5, span, p{
		font-family: @montserrat, sans-serif;
		line-height: normal;
		font-weight: 700;
		color: #fff;
		margin: 0;
		margin-bottom: 2rem;
	}
	h1{ font-size: 30px; }
	h2{ font-size: 28px; }
	h3{ font-size: 25px; }
	h4{ font-size: 23px; }
	h5{ font-size: 20px; }

	span, p{
		font-weight: 400;
		font-size: 16px;
		color: #d0d5e4;
		line-height: 1.5;
		margin-bottom: 1rem;
	}

}
.content-text.cst_text.color_white{
	color: #fff;
}


section.block-home-2.lists_outer_feature_spine{
	.insides{

	}
	.tops_title{
		h2{
			display: block;
			margin: 0; padding: 0; padding-bottom: 1rem;
			font-size: 22px;
			font-weight: 700; color: #1f2640;
		}
		.lines-blue{
			height: 1px; background-color: #399b7c;
			width: 100%;
		}
	}
	.lists_feature_data{
		.items_boxed{
			max-width: 259px;
			height: 280px;
			max-height: 280px; 
			overflow: hidden;
			// margin-bottom: 25px;
			.picture{
				img{}
			}
			.infos{
				padding-top: 18px;
				// padding-bottom: 20px;
				h4{
					font-family: @montserrat, sans-serif;
					display: block;
					margin: 0; padding-top: 0.2rem;
					font-size: 15px;
					font-weight: 700; color: #1f2640;

					overflow: hidden;
					clear: left;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				a.btns_nmore{
					padding: 0; letter-spacing: 1px;
					text-transform: uppercase;
					font-size: 11px; font-weight: 700; color: #75af35;
				}
				a.btns_nmore:hover,
				a.btns_nmore:focus{
					text-decoration: none;
					color: #559310;
				}
				clear: both;
			}
			clear: both;
		}

		clear: both;
	}
	clear: both;
}

.list-item-facilities-data.news_homedata,
.list-item-facilities-data{
	.item{
		height: 280px !important;
		max-height: 280px; 
		margin-bottom: 0;
		overflow: hidden;
		background-color: transparent;
		.infos{
			a{
				text-decoration: none;
			}
			h4{
				font-family: @montserrat, sans-serif;
				display: block;
				margin: 0; padding-top: 0.7rem;
				font-size: 15px;
				font-weight: 700; color: #1f2640;

				overflow: hidden;
				clear: left;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			a.btns_nmore{
				padding: 0; letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 11px; font-weight: 700; color: #75af35;
				text-decoration: none;
			}
			a.btns_nmore:hover,
			a.btns_nmore:focus{
				text-decoration: none;
				color: #559310;
			}
			padding-top: 0px;
		}
	}
}

.list-item-facilities-data{
	.item{
		.infos{
			h4{
				padding-top: 1rem;	
			}
			padding-top: 12px;
		}
	}
}

a.btn-customs-green{
	display: block;
	max-width: 199px;

	background: none;
	background-color: #75af35;
	font-size: 16px;
	font-weight: 700; color: #fff;
}
a.btn-customs-green:hover,
a.btn-customs-green:focus{
	text-decoration: none;
	background-color: #75af35;
	color: #f5f5f5;
}

.row.default{
	margin: 0 -5px;
	[class*="col-md"],
	[class*="col-xs"] {
	    padding: 0 5px;
	}

}

.lists_feature_data{
	.picture{
		img{
			max-width: 100%;
			height: 187.3px;
		}
	}
}
.list-item-facilities-data.news_homedata .item .pic{
	img{
		max-width: 100%;
		height: 176px;
	}
}
.w-100{
	width: 100%;
}
.left.w238{
	width: 215px;
	margin-right: 2rem;
	img{
		max-width: 100%;
	}
}

.back-blue-contentabout .text{
	width: auto;
	.w322{
		width: auto;
		padding: 3.5rem 0;
	}
}
.back-blue-contentabout .c-img{
	img{
		width: 100%;
	}
}
.back-blue-contentabout{
	width: auto; height: auto;
}
.back-shadow-bottom-backbluecontent{
	background-size: cover;
	width: 100%;
}
.back-blue-contentabout .text{
	padding: 6rem 0;
}

.text-content h1.title-toppages{
	font-size: 32px;
}

.contact-content p{
	width: auto;
	font-size: 16px;
}