
@media screen and (max-width: 1450px) {
	
}

@media screen and (max-width: 1290px) {
	
}

@media screen and (max-width: 1030px) {

	body{
		min-width: inherit; 
	}
	
	.container, .prelatife.container{
		max-width: inherit;
		width: auto; min-width: inherit;
		padding: 0 15px;
	}
	.menu-top ul li a{
		font-size: 13px;
	}
	.abs-text-big-infcs{
		left: 15px;
	}
	.abs-text-big-infcs .text h5, 
	.abs-text-big-infcs .text h3{
		font-size: 25px;
	}
	.abs-text-big-infcs .text h5{
		font-size: 14px;
		letter-spacing: 0px;
	}
	a.btn-customs-green{
		max-width: 175px;
		font-size: 13px;
	}

	.nbxs_bottom_fcs_wa .in_texts{
		font-size: 14px;
		img{
			max-width: 25px;
		}
	}

	section.outer-home-block-1{
		.inner_side{
			max-width: 780px;
			margin: 0 auto;
		}
	}
	.content-text.cst_text span, 
	.content-text.cst_text p{
		font-size: 14px;
	}
	.content-text.cst_text h5{
		font-size: 19px;
	}
	.back-bottom-fcs-grey{
		min-width: inherit;
	}

	section.block-home-2.lists_outer_feature_spine .lists_feature_data .items_boxed{
		.pict, .picture{
			img{
				max-width: 100%;
			}
		}
		height: auto;
		margin-bottom: 2.5rem;
	}
	footer.foot .box-footer-out{
		padding-left: 0;
		.menu-footer ul li {
		    margin: 4px 0;
		    a{
		    	font-size: 12px;
		    }
		}
	}
	.menu-services-footer .menu-footer{
		margin-left: 0;
	}
	.info-leftcontact .dl-horizontal dd, 
	.connect-social .dl-horizontal dd{
		font-size: 12px;
	}
	.box-footer-out .item{
		height: auto;
		width: 25%;
	}
	.info-leftcontact .dl-horizontal dd, 
	.connect-social .dl-horizontal dd{
		font-size: 11px;
	}

	.back-blue-contentabout{

		.c-img,
		.left{
			display: inline-block; 
			vertical-align: middle;
			width: 100%;
			float: none !important;
		}
		.w322{
			width: auto;
		}
		.c-img{
			img{
				width: 100%;
			}
		}

		.text{
			font-size: 18px;
			display: table; vertical-align: middle; height: 100%; height: 100%;
			padding: 8rem 0;
		    .center{
		    	vertical-align: middle; height: 100%; height: 100%;
		    	display: table-cell;
		    }
			br{
				display: none;
			}
		}

		height: auto;
		width: auto;
	}
	.back-shadow-bottom-backbluecontent{
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	
	.text-content h3.title-sub{
		font-size: 21px;
	}
	.text-content p{
		font-size: 14px;
	}
	.text-content p.t-vision{
		font-size: 16px;
	}
	.left.w596{
		width: auto;
		float: none;
	}
	.left{
		float: none !important;
	}
	.left.w238{
		width: 180px;
		float: left !important;
		img{
			max-width: 100%;
		}
		margin-right: 2rem;
	}
	.box-doctor-profile .nm-doctor{
		padding-left: 0;
	}

	.back-blue-contentabout .text{
		padding: 4rem 0;
	}

	.text-content h1.title-toppages{
		font-size: 35px;
	}
	.text-content span.page{
		font-size: 28px;
	}

}

@media screen and (max-width: 980px) {

	.logo-header a {
	    display: block;
	    padding-top: .65rem;
	    max-width: 175px;
	}
	.logo-header a img {
	    max-width: 100%;
	}
	.menu-top ul li {
		a{
		    font-size: 11px;
		    font-weight: 400;
		}
		margin: 0 0px;
    	padding: 0 1px;
	}
	
}

@media screen and (max-width: 768px) {

	.content-inside-about{
		.left-content{
			margin-bottom: 3rem;
		}
		.padding-left-20{
			padding-left: 0;
		}
	}
	.back-blue-contentabout .text{
		padding: 3rem 0;
	}
	.text-content h1.title-toppages{
		font-size: 30px;
	}
	.text-content span.page{
		font-size: 26px;
	}
	.bx-logo-footer .right{
		float: none !important;
	}
	.box-footer-out .t-copyright{
		font-size: 9px;
		br{
			display: none;
		}
	}
	footer.foot .box-footer-out .menu-footer ul li a{
		font-size: 11px;
	}
	
}

@media screen and (max-width: 767px) {
	
	.abs-text-big-infcs{
		.text{
			width: auto;
			padding: 5.2rem 0;
			h3{
				font-size: 25px;
			}
		}
		position: relative;
		left: inherit; bottom: inherit;
		background-color: #fff;
	}
	header{
		position: relative;
		top: inherit;
		.abs-col-box-header{
			position: relative;
			top: inherit; left: inherit;
			z-index: 5;
		}
	}
	
	.fluid_container{
		width: 100%;
		height: auto;
	}

	.nbxs_bottom_fcs_wa{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		p{
			margin-bottom: 0;
		}
	}

	.heads_mobile{
		position: relative;
		// min-height: 100px;
		// background-color: #01a1db;
		nav.navbar{
			margin-bottom: 0;
			background-color: #01a1db;
			border-bottom: 7px solid #182152;
			.navbar-brand{
				max-width: 187px;
			}
			.navbar-toggle{
				border: 0px;
				border-radius: 0px;
				margin-top: 2rem;
				padding-right: 0;
				.icon-bar{
					background-color: #b3e3f4;
					width: 25px;
					height: 3px;
					border-radius:0px;
				}
			}
		}
	}

	.content-text.cst_text span, 
	.content-text.cst_text p{
		font-size: 13px;
	}
	
	.list-item-facilities-data.news_homedata .item .pic img,
	.lists_feature_data .picture img{
		height: auto;
		width: 100%;
	}

	.list-item-facilities-data.news_homedata .item, .list-item-facilities-data .item,
	section.block-home-2.lists_outer_feature_spine .lists_feature_data .items_boxed{
		max-width: inherit; max-height: inherit; 
		height: auto !important;
	}
	.list-item-facilities-data.news_homedata .item, .list-item-facilities-data .item{
		margin-bottom: 1.5rem;
	}
	.box-footer-out .item{
		width: 100%;
		.padding-left-10{
			padding-left: 0;
		}
	}

	.box-footer-out{
		[class*="col-xs"] {
		    padding: 1.5rem 0px;
		}
	}
	.box-footer-out .item.border-right{
		border-right: 0;
		border-bottom: 1px solid #c4c4c4;
	}
	.info-leftcontact .dl-horizontal dt, 
	.connect-social .dl-horizontal dt{
		float: left;
	}
	.info-leftcontact .dl-horizontal dt, 
	.connect-social .dl-horizontal dt,
	.info-leftcontact .dl-horizontal dd, 
	.connect-social .dl-horizontal dd{
		margin-bottom: 2px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 0;
	}
	.info-leftcontact .dl-horizontal, .connect-social .dl-horizontal{
		margin-left: 0;
	}
	.bx-logo-footer {
		.right{
			float: none !important;
		}
		.t-copyright{
			margin-left: 0; padding-left: 0;
		}
		padding-bottom: 2rem;
	}
	footer.foot .box-footer-out .menu-footer ul li {
	    margin: 2px 0;
	}
	.icon-phone-footer,
	.icon-email-footer,
	.icon-facebook-footer{
		margin-top: 3px;
	}
	.box-footer-out .t-copyright{
		font-size: 10px;
	}
	.nbxs_bottom_fcs_wa .in_texts img{
		max-width: 18px;
	}
	.navbar-default .navbar-nav>li>a{
		color: #fff;
		padding: 4px 10px;
		font-weight: 500;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
	    background-color: transparent;
	    span.icon-bar{
	    	color: #fff;
	    }
	}

	.text-content p {
	    font-size: 13px;
	}
	.clear.h140{
		height: auto;
		padding: 1.5rem 0;
	}
	.list-item-facilities-data .item{
		max-width: inherit;
		width: auto;
		.pic{
			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.text-content .mg-ct-left{
		img{
			max-width: 100%;
			width: 100%;
		}
		float: none;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.w311,
	.w528{
		width: 100% !important;
	}
	.list-promotions .pic{
		margin-bottom: 2rem;
		img{
			max-width: 100%; width: 100%;
		}
	}

	.height-25{
		height: 0;
	}
	.text-content p{
		br{
			display: none;
		}
	}
	.right.w147,
	.left.w137{
		width: auto !important;
		float: none !important;
		margin: 0.6rem 0;
	}
	.contact-form .form-group label{
		font-size: 16px;
	}

	.info-leftcontact.w205{
		float: none;
		width: auto;
		margin-top: 2.5rem;
	}

	.text-content h1.title-toppages {
	    font-size: 23px;
	}

	.contact-form{
		float: none;
		width: auto;
		padding: 0;
	}
	.content-inside-about .left-content{
		margin-top: 3rem;
	}
	.w350{
		width: auto;
	}

	.ct_mrk_1,
	.ct_mrk_3,
	.ct_mrk_2{
		margin-top: 3rem;
	}
	.text-content ol li,
	.text-content ul li {
	    color: #575757;
	    font-size: 13px;
	    font-weight: 400;
	    padding: 0.4rem 0;
	}

	.w232{
		width: auto;
	}
	.h100_per{
		height: auto;
	}

	.text-content ol,
	.text-content ul{
		margin-right: 0;
	}
	.text-content p.t-vision{
		font-size: 15px;
	}

	.box-footer-out{
		.py-3{
			padding: 0 !important;
		}
		padding-bottom: 3.5rem;
	}

	.abs-text-big-infcs .text {
	    padding: 4rem 0;
	    h3{
	    	font-size: 18px;
	    }
	}

	.list-promotions{
		margin-top: 2.5rem;
		.item{
			.title{
				font-size: 18px;
			}
			.desc{
				p{
					font-size: 13px;
				}
			}
		}
	}
	
}

@media screen and (max-width: 480px) {
	
}